*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body{
  overflow: hidden;
}

.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.App-logo {
  width: 100%;
  max-width: 1500px;
  height: auto;
  object-fit: contain;
}

.App-header {
  background-color: #27375B;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: clamp(14px, 2vmin, 22px);
  color: white;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 85px;
}

@keyframes cloudFloat {
  0% { transform: translate(0, 0); }
  50% { transform: translate(10px, -10px); }
  100% { transform: translate(0, 0); }
  
}

.cloud-icon {
  width: clamp(50px, 12vw, 130px);
  height: auto;
  animation: cloudFloat 5s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}


/* Target the first link’s img */
a:nth-of-type(1) .cloud-icon {
  animation-duration: 6s;
}
a:nth-of-type(2) .cloud-icon {
  animation-duration: 7s;
}
a:nth-of-type(3) .cloud-icon {
  animation-duration: 8s;
}

@media (max-width: 600px) {
  .App-header {
    font-size: calc(8px + 2vmin);
    padding: 20px;
  }
  
  .icon-container {
    max-width: 100%;
    gap: 10px;
    flex-direction: column;
  }

  .App-logo {
    max-width: 100%;
  }
}
